<h1>Game Result</h1>
<ul>
  <li><%= link_to "Play Rock", "/rock" %></li>
  <li><%= link_to "Play Paper", "/paper" %></li>
  <li><%= link_to "Play Scissors", "/scissors" %></li>
  <li><%= link_to "Rules", "/" %></li>
</ul>
<p><%= @played_move %></p>
<p><%= @computer_move %></p>
<p><%= @result %></p>
